/* FONTS */

@font-face {
  font-family: 'Xayax';
  src: url('fonts/xayax-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/xayax-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/xayax-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/xayax-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/xayax-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/xayax-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/roboto-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/roboto-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/roboto-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/roboto-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'geosanslight';
  src: url('fonts/geosanslight-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/geosanslight-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/geosanslight-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/geosanslight-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/geosanslight-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* COLORS */

:root {
  --ls-white: rgb(220, 220, 220);
  --ls-red: #e2483c;
}

body {
  background-image: url("../img/bg_16_9_web.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.outline {
  color: white;
  text-shadow: black 3px 3px, black 0 3px, black -3px 3px, black -3px 0, black -3px -3px, black 0 -3px, black 3px -3px, black 3px 0;
}

.xayax {
  font-family: Xayax;
}

.redfat {
  color: #e2483c;
  font-size: 70pt;
} 

.fatlink {
  text-decoration: underline;
  color: #e2483c;
}

.fatlink:hover {
  color: rgb(178, 184, 189);
}

div.overlay {
  background: rgba(255, 255, 255, 0.5);
  margin-top: 70px;
  overflow: auto;
}

.cover {
  max-width: 50%;
}

div.overlay-centered {
  background: rgba(255, 255, 255, 0);
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.custom-container {
  
}

.custom-container-frontpage {
  max-width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-container {
  background-color: var(--ls-white);
  height: 80%;
  margin-top: 0%;
  overflow-y: auto;
  border-radius: 3px;
  width: 100%;
}

.content-container > h1 {
  font-family: 'geosanslight';
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0px;
  font-size: 35pt;
}

.content-container > img {
  max-width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.content-container > p {
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  margin: 30px 50px 20px 50px;
  font-size: 5em;
}

main {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  background-color:rgba(50, 50, 50, 0.5);
}

.home-nav {
  color: var(--ls-white);
  list-style: none;
  font-size: 45pt;
  padding: 0;
  font-family: 'geosanslight';
  font-weight: 100;
  margin: 0 auto;
}

.home-nav > li > a {
  color: var(--ls-white);
}

.home-nav > li > a:hover {
  color: white;
  text-decoration: none;
}

img.logo {
  max-width: 80%;
  margin: 0 auto;
}

.sub-flex {
  display: block;
  margin: 0 auto;
}

.logo-nav {
  height: 40px; /* hardcode might be fine here... */
  width: auto;
  margin: 0;
}

.nav-link-custom {
  margin-left: 3px;
  font-family: 'geosanslight';
  color: black !important; 
}

.nav-bg {
  background-color: var(--ls-white);
}

/* MOBILE PORTRAIT */
@media only screen 
and (min-width: 320px) 
and (max-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
{
  .custom-container-frontpage {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .custom-container {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .redfat {
    /* color: #e2483c; */
    font-size: 40pt;
  } 

  .cover {
    max-width: 80%;
  }
  
  .home-nav {
    color: var(--ls-white);
    list-style: none;
    font-size: 30pt;
    padding: 0;
    font-family: 'geosanslight';
    font-weight: 100;
    margin-left: 9%;
  }

  .content-container {
    background-color: var(--ls-white);
    height: 86%;
    margin-top: 6%;
    overflow-y: auto;
    border-radius: 3px;
    width: 100%
  }

  .release-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
  }
  
  .release-container > div.cover-wrapper > h2 {
    font-family: 'geosanslight';
    text-align: center;
  }
  
  .release-container > div.cover-wrapper > a > img.cover {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .release-container > div.tracklist-wrapper > ol {
    padding-left: 5%;
    margin-top: 10px;
  }

  .events-table {
    margin-left: 3%;
    max-width: 95%;
  }

  td.date {
    width: 26%;
    font-size: 15pt;
    font-family: 'geosanslight';
  }

  td.title {
    font-size: 14pt;
  }
}

/* MOBILE LANDSCAPE */
@media only screen 
and (min-width: 481px) 
and (max-width: 767px) 
{
  .redfat {
    /* color: #e2483c; */
    font-size: 40pt;
  }

  .custom-container-frontpage {
    max-width: 95%;
    width: 95%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-container {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .home-nav {
    color: var(--ls-white);
    list-style: none;
    font-size: 30pt;
    padding: 0;
    font-family: 'geosanslight';
    font-weight: 100;
    margin: 0 auto;
  }

  img.logo {
    max-width: 90%;
    margin: 0 auto;
  }

  .content-container {
    background-color: var(--ls-white);
    height: 78%;
    margin-top: 3%;
    overflow-y: auto;
    border-radius: 3px;
    width: 100%
  }
  
  .release-container {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    justify-items: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
  }

  .release-container > div.cover-wrapper {
    flex-basis: 60%;
  }
  
  .release-container > div.cover-wrapper > h2 {
    font-family: 'geosanslight';
    text-align: left;
  }
  
  .release-container > div.cover-wrapper > a > img.cover {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  .release-container > div.tracklist-wrapper {
    max-width: 100%;
    margin-left: 5%;
    flex-basis: 30%;
  }

  .release-container > div.tracklist-wrapper > ol {
    padding-left: 5%;
    margin-top: 42px;
  }

  .events-table {
    margin-left: 3%;
    max-width: 95%;
  }

  td.date {
    width: 14%;
    font-size: 15pt;
    font-family: 'geosanslight';
  }

  td.title {
    font-size: 14pt;
  }
}