body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1200px 900px;
    background-color: #cccccc;
}

.outline {
  color: white;
  text-shadow: black 5px 5px, black 0 5px, black -5px 5px, black -5px 0, black -5px -5px, black 0 -5px, black 5px -5px, black 5px 0;
}